@import "../../common/constants";

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: $color-space;

  &:before {
    content: '';
    opacity: .5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../../assets/Stars-01.png);
    background-repeat: repeat;
    background-size: 400px;
  }

  .axis {
    position: absolute;
    width: 100vh;
    height: 100vh;
    bottom: -60vh;

    .earth,
    .clouds {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .earth {
      background-image: url(../../assets/Earth.png);
    }

    .clouds {
      background-image: url(../../assets/Clouds.png);
    }
  }

  .planets {
    position: absolute;
    left: calc(50vw - 10vh);
    top: 5vh;
    display: flex;
    align-items: center;

    .row {
      display: flex;
      flex-direction: column;

      .planet {
        width: 20vh;
        height: 20vh;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 5vh 10vh;
        color: white;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        text-shadow: 0 0 8px white;
        text-align: center;
        padding: 12px;
      }

      &.row-alphabet {
        .planet {
          background-image: url(../../assets/Planet1.png);
        }
      }

      &.row-word {
        .planet {
          background-image: url(../../assets/Planet2.png);
        }
      }

      &.row-sentence {
        .planet {
          background-image: url(../../assets/Planet3.png);
        }
      }

      &.row-more {
        .planet {
          background-image: url(../../assets/Planet4.png);
        }
      }
    }
  }

  .logOut {
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    font-size: 40px;
    padding: 8px;
  }
}
