@import "../../common/constants";

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;

  &:before {
    content: '';
    opacity: .5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../../assets/Stars-01.png);
    background-repeat: repeat;
    background-size: 400px;
  }

  .axis {
    position: absolute;
    width: 100vh;
    height: 100vh;
    bottom: -60vh;

    .earth,
    .clouds {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .earth {
      background-image: url(../../assets/Earth.png);
    }

    .clouds {
      background-image: url(../../assets/Clouds.png);
    }
  }

  .planets {
    position: absolute;
    left: calc(50vw - 15vh);
    top: 5vh;
    display: flex;
    align-items: center;

    .row {
      display: flex;
      flex-direction: column;
    }
  }

  .logOut {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 40px;
    padding: 8px;
  }
}
