@import "../../common/constants";

.Learn {
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/Planet1.png);
  background-repeat: no-repeat;
  background-size: 100vmax;
  background-position: center;

  .sectionContainer {
    margin: 40px 0 80px;
    display: flex;
    align-items: stretch;
    overflow: hidden;

    .divider {
      width: 4px;
      margin: 80px 0;
      border-radius: 4px;
      background-color: white;
      opacity: .5;
    }

    &.attempting {
      //width: ;
    }
  }

  .icon {
    position: absolute;
    color: white;
    font-size: 40px;
    padding: 8px;

    &.prev {
      align-self: center;
      left: 8px;
    }

    &.next {
      align-self: center;
      right: 8px;
    }

    &.mic {
      bottom: 16px;
      background-color: white;
      color: $color-space;
      width: 80px;
      height: 80px;
      border-radius: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
  }
}
