@import "../../common/constants";

.Learn {
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/Planet1.png);
  background-repeat: no-repeat;
  background-size: 100vmax;
  background-position: center;

  .sectionContainer {
    margin: 40px 0 80px;
    display: flex;
    align-items: stretch;
    overflow: hidden;

    .voice {
      margin-top: 8px;
      opacity: .8;
    }

    .videoContainer {
      display: flex;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 0 4px rgba(black, .5);
    }

    .divider {
      width: 4px;
      margin: 80px 0;
      border-radius: 4px;
      background-color: white;
      opacity: .5;
    }

    .sectionAttempt {
      .preview {
        position: absolute;
        opacity: 0;
        pointer-events: none;
      }

      .recording {
        position: absolute;
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  .icon {
    position: absolute;
    color: white;
    padding: 8px;
    cursor: pointer;

    &.prev {
      font-size: 56px;
      align-self: center;
      left: 8px;
    }

    &.next {
      font-size: 56px;
      align-self: center;
      right: 8px;
    }

    &.mic {
      font-size: 40px;
      bottom: 32px;
      background-color: white;
      color: red;
      width: 80px;
      height: 80px;
      border-radius: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      transition: all .5s;
      box-shadow: 0 0 4px rgba(black, .5);
    }
  }

  &.learn {
    .sectionContainer {
      .divider {
        display: none;
      }

      .sectionAttempt {
        position: absolute;
        opacity: 0;
        pointer-events: none;
      }
    }

    .mic {
      color: $color-space;
    }
  }

  &.preview {
    .mic {
      font-size: 28px;
      font-weight: bold;
      color: white;
      transform: scale(1.2);
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 40px;
    padding: 8px;
    cursor: pointer;
  }
}
